.button--submit {
  font-family: $main-font-famaly;
  background-color: $red-text-color;
  text-align: center;
  color: $white-text-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  border: none;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: $hover-button-color;
  }

  &:active {
    background-color: $active-button-color;
  }

  @include on-tablet {
    width: 65%;
  }

  @include on-desktop {
    width: 40%;
  }
}

.form--button {
  width: 100%;
}
