.footer {
  background-image: url(images/footer-bg-mobile.webp);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 180px;

  @include on-tablet {
    background-image: url(images/footer-bg-tablet.webp);
    height: 360px;
  }

  @include on-desktop {
    background-image: url(images/footer-bg-desktop.webp);
  }
}
