.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-repeat: no-repeat;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(images/icons/icon-phone.svg);
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--menu {
    background-image: url(images/icons/icon-burger-menu.svg);
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--close {
    background-image: url(images/icons/icon-close.svg);
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
