$tablet-min-width: 576px;
$desctop-min-width: 1260px;
$main-font-famaly: "Cinzel", serif;
$second-font-family: "Roboto", serif;
$main-text-color: #161616;
$red-text-color: #d12d35;
$white-text-color: #fff;
$hover-button-color: #ae1c23;
$active-button-color: #eb343d;
$text-color: #3e3e3e;
